.body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.buttons{
  background-color: rgb(29, 29, 29);
  color: rgb(165, 50, 50)
}

.cardContent{
  background: rgb(160,160,160) !important;
}

.bookContainer{
  width: 90%;
  margin: auto;
}
.logo img{
  width: 30%;
  margin: auto;
  border: 4px solid #444435;
  border-radius: 10px;
}

/* .ui.card>.content.extra,
.ui.cards>.card>.content.extra {
  background-color: grey;
} */

.ui.card {
  display: inline-block;
  margin: 10px;
}
.customerContainer{
  width: 20%;
  margin: auto;
  padding: 10px;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 
.about {
  background-color: rgb(26, 26, 26);
  color: white;
  width: 500px;
  padding: 10px;
  margin: auto;
  list-style: none;
  border: 5px solid rgb(82, 45, 45);
  border-radius: 10px;
}

.size {
  height: 400px;
}

/* .ui.centered.grid{
  background-color: #3c4c34;
} */

.searchbar {
  width: 50%;
  margin: auto;
  padding: 10px;
}

.formtext {
  align-items: center;
  text-align: center;
  /* color: white;
  background-color: black; */
}

.abook {
  display: inline-block;
  text-align: center;
  align-items: center;
  background-color: rgb(26, 26, 26);
  color: white;
  border: 5px solid rgb(82, 45, 45);
  border-radius: 10px;
}

.pic {
  width: auto;
  height: 650px;
  border: 3px solid grey;
  border-radius: 10px;
  padding-top: 10px;
}

.centered {
  margin: auto;
  padding-left: 40px;
  text-align: center;
  align-items: center;
}

.App {
  text-align: center;
  /* background-color: #3c4c34; */
  /* font-size: calc(10px + 2vmin); */
  background: url("./assets/book1.jpg");
  padding-bottom: 800px;
}

.bookCard{
  padding:10px;
}

/* .topnav {
  background-color: #CFCFEA ;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #A89B9D ;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: gray;
  color: white;
}

.topnav a.active {
  background-color: #A89B9D;
  color: white;
} */


/* .bookCard {
  width: 10%;
}


.cards {
  width: 10%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0 0 7px 0 #ddd;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
  transition: 1s ease;
}
.card .image {
  height: 225px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.card .image img {
  max-width: 100%;
  max-height: 225px;
  width: auto;
  height: auto;
} */

/* .card:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s ease;
} */