.body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.logo img{
  width: 30%;
  margin: auto;
  border: 2px solid #444435;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .ui.centered.grid{
  background-color: #3c4c34;
} */

.searchbar {
  width: 50%;
  margin: auto;
  padding-bottom: 8px;
}

.formtext {
  align-items: center;
  text-align: center;
  /* color: white;
  background-color: black; */
}


.App {
  text-align: center;
  /* background-color: #3c4c34; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
  background: url("./assets/book1.jpg");
}

.bookCard{
  padding:10px;
}

/* .topnav {
  background-color: #CFCFEA ;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #A89B9D ;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: gray;
  color: white;
}

.topnav a.active {
  background-color: #A89B9D;
  color: white;
} */
/* 
.cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  box-shadow: 0 0 7px 0 #ddd;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
  transition: 1s ease;
}
.card .image {
  height: 225px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.card .image img {
  max-width: 100%;
  max-height: 225px;
  width: auto;
  height: auto;
}

.card:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s ease;
} */